<p style="color: green"><%= notice %></p>

<%= render @item %>

<div>
  <%= link_to "Edit this item", edit_item_path(@item), class:'btn btn-outline-success btn-sm' %> |
  <%= link_to "Back to items", items_path, class:'btn btn-outline-danger btn-sm' %>

  <%= button_to "Destroy this item", @item, method: :delete %>
</div>
